<h2>My Heroes</h2>
<ul class="calendars">
    <li *ngFor="let calendar of calendars">
        <a routerLink="/detail/{{ calendar.id }}">
            <span class="badge">{{ calendar.id }}</span>
            {{ calendar.name }}
        </a>
        <button class="delete" title="delete calendar" (click)="delete(calendar)">X</button>
    </li>
</ul>
<div>
    <label>
        Calendar name:
        <input #calendarName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(calendarName.value); calendarName.value=''">Add</button>
</div>